
Maven OSGi Distribution Plugin
==================

The ${project.artifactId} is used to package OSGi applications using Maven. Basically, it just copy all dependencies in
specified folders, copy the provided resources and zip the result. It also supports multiple inheritance between
distributions.
These distributions come as zip files, and can be fine tuned to have dependencies come in separate folders, with different names.

Features
--------

* *Dependency Management*: all project dependencies (bundles, deployment packages, zip files and play applications) are
embedded in the zip file.
* *Output Structure Fine Tuning*: you can fin tune in order to have dependencies come in separate folders, with
different names.
* *Multiple inheritance*: a distribution can inherit from several other ones (removal of inherited file is not yet
supported).
* *Duplicated deployment units (bundle or deployment package) elimination*: when a distribution inherits from other one, deployment units can appear twice or more times in final distribution. The plugin eliminates duplicated deployment units, they are searched only in file install directories configuration.

Goals Overview
---------------

The OSGi Distribution Plugin acts on projects using the osgi-distribution packaging type during the following phases:

* [${project.artifactId}:package](./package-mojo.html) packages your OSGi application as a Zip.
* [${project.artifactId}:clean](./clean-mojo.html) cleans the project.


Usage
-----

General instructions on how to use the ${project.artifactId} can be found on the [usage page](./usage.html).

License
-------------------

The plugin is developped and maintained by the [LIG/ADELE team](http://www-adele.imag.fr).
It is licensed under the Apache License 2.0.
